<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Odin's Chat Assistant</title>
    <script>
        function updateTemperatureValue(val) {
            document.getElementById('temperature_value').innerText = val;
        }
    </script>
</head>
<body>
    <h1>Odin's Chat Assistant</h1>
    <form method="POST">
        <h2>Model Setup</h2>

        <label for="model">Model:</label>
        <select id="model" name="model" >
            {% for model in models %}
                <option value="{{ model }}" {% if model == selected_model %}selected{% endif %}>{{ model }}</option>
            {% endfor %}
        </select>
        <br>

        <label for="model_temperature">Model Temperature:</label>
        <input type="range" id="model_temperature" name="model_temperature" min="{{ min_temp }}" max="{{ max_temp }}" step="{{min_temp_step}}" value="{{ model_temperature }}" oninput="updateTemperatureValue(this.value)">
        <span id="temperature_value">{{ model_temperature }}</span>
        <br>

        <label for="system_prompt">System Prompt:</label>
        <input type="text" id="system_prompt" name="system_prompt" value="{{ system_prompt }}" maxlength="100" size="50">
        <br>
        
        <div id="chat-response">
            <h2>Response:</h2>
            <p>{{ response }}</p>
        </div>

        <h2>Let's Chat</h2>

        <label for="prompt">User Prompt:</label>
        <input type="text" id="prompt" name="prompt" value="{{ prompt }}" maxlength="200" size="50">
        <button type="submit">Send</button>

    </form>
</body>
</html>